/*---------Produtos---------*/

header {
    background-color: #BBB;
    padding:20px 0;
}

.container {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top:110px;
    right: 0;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline;
    transition-duration: 0.5s;
}

nav a li {
    margin-left: 15px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0
}

.produtos li {
    display:inline-block;
    text-align: center;
    border: 1px solid black;
    width: 30%;
    vertical-align: top;
    margin: 0 1.4%;
    padding:30px 20px;
    box-sizing: border-box;
    border: 3px solid;
    border-radius: 25px;
}

.produtos li:hover {
    color: darkblue;
}

.produtos li:hover h2{
    color: darkblue;
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin:10px 0;
}